<% title "Register Folders" %>
<h3 style="text-align: center"><b>Register Folders on the Image Sever for <%= @county%></b>.</h3>
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>

<table  class=" table--bordered my-width table--data just--center"  style="width:50%;margin: 0 auto">
  <tr>
    <th>Register Folders</th>
    <th>Action</th>
    <th></th>
    <th></th>
  </tr>

<% @registers.each do |register| %>
  <tr>
    <td><%= register %></td>
    <td> <%= button_to 'Show Images', images_freereg_image_path , params: {:county => @county, :register => register}, method: :get, :class => 'btn'%></td>
     <td></td>
      <td></td>
  </tr>
<% end %>
</table>
<script type="text/javascript">
      Ladda.bind( 'input[type=submit]' );
</script>